@use "sass:math";

// Unit conversion utilities
@function px-to-rem($px, $base: 16) {
    @return calc(($px/$base) * 1rem);
}

// Fluid size between two viewport widths
@function fluid-size($start, $end, $min-width: 350px, $max-width: 1400px) {
    $diff: $end - $start;
    $width-diff: $max-width - $min-width;
    $slope: math.div($diff, $width-diff);
    $intercept: $start - ($slope * $min-width);

    @return clamp($start, calc(#{$intercept} + #{($slope * 100) * 1vw}), $end);
}
