@use "../abstract/mixins" as mx;
@use "../components/links-&-buttons" as li_bu;

body {
    background-color: var(--background-page-color);
}

header {
    @include mx.flex-space-around-center;
    background-color: var(--background-header-color);
    padding: 20px;
    border-radius: var(--border-radius);
}

.playscore {
    background-color: var(--background-playscore-color);
    border-radius: var(--border-radius);
    @include mx.flex-space-around-center;
    gap: 20px;
    height: var(--height-playscore);
    width: var(--width-playscore);
    @include mx.add-font(var(--font-family), var(--font-size-playscore), var(--font-weight-playscore));

    &__blue,
    &__yellow {
        @include mx.flex-center-center;
        gap: 5px;
    }

    &__blue {
        color: #2bb1ff;
        &-icon {
            @include mx.add-icon(var(--blue-icon), var(--icon-size));
        }
    }

    &__yellow {
        color: #f58e39;
        &-icon {
            @include mx.add-icon(var(--yellow-icon), var(--icon-size));
        }
    }
}

.current-player {
    @include mx.add-font(var(--font-family), var(--font-size-current-player), var(--font-weight-current-player));
    color: white;
    gap: 8px;
    @include mx.flex-center-center;

    &__icon {
        @include mx.add-icon(var(--blue-icon), var(--icon-size));
        filter: var(--filter-icon-current-player);
        position: relative;
        top: 1px;

        &-background {
            background-color: var(--background-current-player-color);
            padding: 5px;
        }
    }
}

.quit-game-button {
    @include li_bu.primary-button(
        $background-color: var(--background-quit-button-color),
        $font-family: var(--font-family),
        $font-size: var(--font-size-quit-button),
        $font-weight: var(--font-weight-quit-button),
        $color: white,
        $outline: var(--outline-settings-quit-button),
        $border-radius: var(--border-radius),
        $height: var(--height-quit-button),
        $width: var(--width-quit-button),
        $transition-duration: var(--transition-time),
        $outline-hover-width: var(--outline-hover-width-quit-button),
        $box-shadow: var(--box-shadow-quit-button)
    );

    &__icon {
        @include mx.add-icon(url("/assets/icons/game/quit-button/quit.svg"), 25px);
    }

    &:hover {
        .quit-game-button__icon {
            filter: var(--filter-icon-hover-quit-button);
        }
    }
}

.quit-game-dialog {
    border-radius: var(--border-radius);

    &__text {
        @include mx.add-font(var(--font-family-dialog), var(--font-size-dialog-text), var(--font-weight-dialog-text));
        text-align: center;
    }

    &__menu {
        @include mx.flex-center-center;
        gap: var(--gap-dialog-menu);
    }

    &__back-to-game-button {
        @include li_bu.primary-button(
            $background-color: var(--background-back-to-game-button-color),
            $font-family: var(--font-family-dialog),
            $font-size: var(--font-size-dialog-button),
            $font-weight: var(--font-weight-dialog-button),
            $color: var(--back-to-game-button-color),
            $outline: var(--outline-settings-quit-button),
            $border-radius: var(--border-radius),
            $height: var(--height-quit-button),
            $width: var(--width-quit-button),
            $transition-duration: var(--transition-time),
            $box-shadow: var(--box-shadow-dialog-button)
        );

        &:hover {
            color: var(--hover-back-to-game-button-color);
            background-color: var(--background-hover-back-to-game-button-color);
        }
    }

    &__exit-game-link {
        @include li_bu.primary-button(
            $background-color: var(--background-exit-game-link-color),
            $font-family: var(--font-family-dialog),
            $font-size: var(--font-size-dialog-button),
            $font-weight: var(--font-weight-dialog-button),
            $color: var(--exit-game-link-color),
            $outline: var(--outline-settings-quit-button),
            $border-radius: var(--border-radius),
            $height: var(--height-quit-button),
            $width: var(--width-quit-button),
            $transition-duration: var(--transition-time),
            $outline-hover-width: var(--outline-hover-width-quit-button),
            $box-shadow: var(--box-shadow-dialog-button)
        );
    }
}
