@use "../abstract/variables" as var;
@use "../abstract/mixins" as mx;
@use "../base/typography" as typo;

// theme variables
$background-page-color: var.$dark-tone;
$background-header-color: #415652;
$quit-button-border-color: #4cc5af;
$blue-icon: "/assets/icons/game/theme/game-vibes/player-icon/blue.svg";
$yellow-icon: "/assets/icons/game/theme/game-vibes/player-icon/yellow.svg";
$border-radius: 0px;

@mixin add-icon($url, $height: 20px, $width: 20px) {
    background-size: $height $width;
    height: $height;
    width: $width;
    background-image: url($url);
}

body {
    background-color: $background-page-color;
}

header {
    @include mx.flex-space-around-center;
}

.playscore {
    background-color: $background-header-color;
    border-radius: $border-radius;
    @include mx.flex-center-center;
    width: 250px;
    gap: 20px;
    padding: 15px;
    @include typo.font-red-rose-24-700;

    &__blue,
    &__yellow {
        @include mx.flex-center-center;
        gap: 5px;
    }

    &__blue {
        color: #2bb1ff;
        &-icon {
            @include add-icon($blue-icon);
        }
    }

    &__yellow {
        color: #f58e39;
        &-icon {
            @include add-icon($yellow-icon);
        }
    }
}

.current-player {
    @include typo.font-red-rose-26-400;
    color: white;
    gap: 8px;
    @include mx.flex-center-center;

    &__icon {
        @include add-icon($blue-icon);
        position: relative;
        top: 1px;
    }
}

.quit-game-button {
    background-color: $background-header-color;
    @include typo.font-red-rose-24-700;
    color: white;
    gap: 8px;
    border: 1px solid #4cc5af;
    padding: 15px;
    @include mx.flex-center-center;
    box-sizing: border-box;
    height: 60px;
    width: 200px;
    transition:
        border-width 0.1s ease-in-out,
        box-shadow 0.1s ease-in-out;

    &__icon {
        @include add-icon("public/assets/icons/game/quit-button/quit.svg", 25px, 25px);
    }

    &:hover {
        border-width: 3px;
        box-shadow: 4px 4px 4px 0px #53533c;
    }
}
