@mixin addIconToSelectionHeadline($path){
    position: relative;
    font-weight: 700;

    &::before{
        content: "";
        width: 30px;
        aspect-ratio: 1/1;
        background-image: url($path);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -40px;
    }
}

body {

    margin: 100px 500px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.headline1 {
    font-size: 54px;
    font-family: "red-rose", sans-serif;
}


.settings-selection {
    font-family: almarai, sans-serif;
    padding-left: 40px;

    form {
        display: flex;
        flex-direction: column;
        gap: 16px
    }
}

.settings-theme__headline2 {
    @include addIconToSelectionHeadline("/assets/icons/settings/palette.svg");
    margin-top: 0;
}

.settings-player-color__headline2 {
    @include addIconToSelectionHeadline("/assets/icons/settings/chess-pawn.svg");
}

.settings-board-size__headline2 {
    @include addIconToSelectionHeadline("/assets/icons/settings/board.svg");
}

