@use "../abstract/functions" as fct;
@use "../abstract/mixins" as mx;
@use "../base/typography" as typo;
@use "../components/links-&-buttons" as li_bu;

// Start page layout
.start-page-body {
    @include mx.flex-center-center;
    background-color: #2f3131;
    position: relative;
    background-image: url("/assets/imgs/start-page/controller.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
}

// Start page content and navigation
.start-page {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.headline1 {
    @include typo.font-red-rose-140-700;
    font-size: fct.fluid-size(5rem, 75rem);
    color: white;
    margin-top: 0;
    white-space: nowrap;

    &__addition {
        font-size: fct.px-to-rem(48);
    }
}

.start-link {
    @include typo.font-red-rose-40-700;
    @include li_bu.primary-link(
        $gap: 20px,
        $before-content: "/assets/icons/start-page/controller.svg",
        $before-animation: rotate(-30deg),
        $before-position: 4px,
        $after-content: "\2192",
        $after-animation: scale(1.2)
    );
    height: 95px;
    width: 240px;
}

@media (min-width: 1400px) {
    .start-link {
        width: 290px;
        height: 100px;

        &::before {
            transform: scale(1.2);
            top: 2px;
        }

        &:hover::before {
            transform: scale(1.2) rotate(-30deg);
        }
    }

    .headline1 {
        font-size: 8.25rem;
    }
}

@media (max-width: 1400px) {
    .headline1 {
        //font-size: 8.25rem;
    }
}

@media (max-width: 900px) {
}

@media (max-width: 700px) {
}

@media (max-width: 400px) {
}

@media (max-height: 770px) {
}
