:root {
    //colors
    --color-teal: #4cc5af;
    --color-mint: #94ddd0;
    --color-pale-mint: #e0faf5;
    --color-light-teal: #ccefe7;
    --color-charcoal: #2f3131;
    --color-shadow-rgb: 84, 83, 60;
    --color-dark-green: #415652;
    --color-white: white;

    //page
    --page-background: var(--color-charcoal);

    //header
    --header-background: transparent;

    //shared
    --main-font: red-rose;
    --radius: 0;
    --common-shadow: -1px 1px 4px rgba(148, 221, 208, 0.5);
    --button-background: var(--color-dark-green);
    --button-border: 1px solid var(--color-teal);
    --button-font-size: 24px;
    --button-height: 60px;
    --button-hover-background: var(--color-dark-green);
    --button-radius: 0;
    --button-width: 200px;
    --blue-icon: url("/assets/icons/game-page/theme/code-vibes/player-icon/blue.svg");
    --orange-icon: url("/assets/icons/game-page/theme/code-vibes/player-icon/orange.svg");

    //playscore
    --icon-size: 20px;
    --playscore-background: var(--color-dark-green);
    --playscore-font-size: 24px;
    --playscore-height: 60px;
    --playscore-width: 280px;

    //current-player
    --current-background-blue: none;
    --current-background-orange: none;
    --current-background: none;
    --current-font-size: 26px;
    --current-font-weight: 400;
    --current-icon-filter: none;

    //quit-game-button
    --quit-hover-icon-filter: none;
    --quit-shadow: 4px 4px 4px 0px rgba(var(--color-shadow-rgb), 1);
    --quit-transition: 0.1s;

    //quit-game-dialog
    --dialog-color: black;
    --dialog-font: "red-rose";
    --dialog-text-weight: 700;
    --dialog-text-size: 32px;

    //quit-game-dialog__back-to-game-button
    --back-background: var(--color-teal);
    --back-border: 2px solid var(--color-teal);
    --back-font: "red-rose";
    --back-font-size: 20px;
    --back-height: 60px;
    --back-hover-background: var(--color-mint);
    --back-hover-border-width: 3px;
    --back-hover-color: var(--color-white);
    --back-radius: 0;
    --back-shadow: 0;
    --back-width: 200px;

    //quit-game-dialog__exit-game-link
    --exit-background: var(--color-pale-mint);
    --exit-border: 2px solid var(--color-teal);
    --exit-color: var(--color-teal);
    --exit-font: "red-rose";
    --exit-font-size: 20px;
    --exit-height: 60px;
    --exit-hover-background: var(--color-light-teal);
    --exit-hover-border-width: 3px;
    --exit-hover-color: var(--color-teal);
    --exit-radius: 0;
    --exit-shadow: 2px 2px 6px 0px rgba(var(--color-shadow-rgb), 0.2);
    --exit-width: 200px;

    // card
    --card-margin-bottom: 0px;

    //cardboard
    --cardboard-gap: 16px;

    //game-over-dialog
    --game-over-color: var(--color-teal);
    --game-over-shadow: var(--common-shadow);

    //game-results
    --game-results-animation-duration: 3s;
    --game-results-start-position: -100vh;
    --game-results-winner-shadow: none;
    --game-results-winner-draw-shadow: var(--common-shadow);
    --game-results-winner-blue-color: #2bb1ff;
    --game-results-winner-orange-color: #f58e39;
    --game-results-winner-draw-color: var(--color-teal);
    --game-results-winner-blue-image: url("/assets/imgs/game-page/theme/code-vibes/blue-chess-pawm.svg");
    --game-results-winner-orange-image: url("/assets/imgs/game-page/theme/code-vibes/orange-chess-pawm.svg");
    --game-results-winner-draw-image: url("/assets/imgs/game-page/theme/code-vibes/draw-scale.svg");

    //game-results-back-button
    --game-results-back-button-shadow: none;
}
