// theme variables
$background-page-color: var.$dark-tone;
$background-header-color: #415652;
$quit-button-border-color: #4cc5af;
$blue-icon: "/assets/icons/game/theme/game-vibes/player-icon/blue.svg";
$yellow-icon: "/assets/icons/game/theme/game-vibes/player-icon/yellow.svg";
