:root {
    //header
    --background-page-color: #2f3131;
    --background-header-color: #535d75;
    --background-playscore-color: #ffffff;
    --background-quit-button-color: transparent;
    --blue-icon: url("/assets/icons/game/theme/gaming/player-icon/blue.svg");
    --yellow-icon: url("/assets/icons/game/theme/gaming/player-icon/yellow.svg");
    --icon-size: 28px;
    --border-radius: 15px;
    --height-quit-button: 50px;
    --width-quit-button: 180px;
    --height-playscore: 50px;
    --width-playscore: 180px;
    --outline-hover-width-quit-button: 3px;
    --outline-settings-quit-button: 2px solid #e71c4f;
    --filter-icon-current-player: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7498%) hue-rotate(137deg) brightness(101%)
        contrast(98%);
    --filter-icon-hover-quit-button: brightness(0) saturate(100%) invert(28%) sepia(83%) saturate(2959%) hue-rotate(328deg) brightness(86%)
        contrast(112%);
    --transition-time: 0;
    --box-shadow-quit-button: 3px 3px 4px 2px #54533c;
    --background-current-player-color: #1faafc;
    --font-family: orbitron;
    --font-weight-playscore: 700;
    --font-size-playscore: 30px;
    --font-weight-current-player: 700;
    --font-size-current-player: 32px;
    --font-weight-quit-button: 700;
    --font-size-quit-button: 20px;

    //dialog
    --font-family-dialog: orbitron;
    --font-size-dialog-text: 28px;
    --font-weight-dialog-text: 700;
    --gap-dialog-menu: 24px;
    --background-back-to-game-button-color: #ed1b76;
    --background-hover-back-to-game-button-color: white;
    --back-to-game-button-color: white;
    --hover-back-to-game-button-color: #ed1b76;
    --background-exit-game-link-color: #f0e4ef;
    --exit-game-link-color: #ed1b76;
    --font-size-dialog-button: 16px;
    --font-weight-dialog-button: 700;
    --box-shadow-dialog-button: 2px 2px 3px 1px #54533c;
}
