@use "../abstract/mixins" as mx;

// Global document defaults
html {
    width: 100vw;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    height: 100vh;
    max-width: 1400px;
    width: 100%;
    padding: 0px 32px;
    box-sizing: border-box;
}

a {
    @include mx.flex-center-center;
    border: 0;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

button {
    padding: 0;
    border: 0;
}

a,
button {
    cursor: pointer;
}

dialog {
    border: 0;
}
