@use "../abstract/functions" as fct;

@font-face {
  font-family: "red-rose";
  src: url("/assets/fonts/red-rose/RedRose-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'almarai';
  src: url('/assets/fonts/almarai/Almarai-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'almarai';
  src: url('/assets/fonts/almarai/Almarai-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'almarai';
  src: url('/assets/fonts/almarai/Almarai-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'almarai';
  src: url('/assets/fonts/almarai/Almarai-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@mixin font-red-rose-20-700 {
  font-family: "red-rose", sans-serif;
  font-size: fct.px-to-rem(20);
  font-weight: 700;
}

@mixin font-red-rose-40-700{
  font-family: "red-rose", sans-serif;
  font-size: fct.px-to-rem(40);
  font-weight: 700;
}

@mixin font-red-rose-140-700{
  font-family: "red-rose", sans-serif;
  font-size: fct.px-to-rem(140);
  font-weight: 700;
    
}

@mixin font-red-rose-54-700{
  font-family: "red-rose", sans-serif;
  font-size: 54px;
  font-weight: 700;
}

@mixin font-almarai-20-400{
  font-family: "almarai", sans-serif;
  font-size: 20px;
  font-weight: 400;
}